<div>
    <header>
        <nav class="navbar" style="background-color: black">
            <div class="container col-md-8.5">
                <a class="navbar-brand text-white" href="/">Music quiz place</a>
                <ul class="nav">
                    <li class="navbar-item"><a class="nav-link text-white" href="/">Quiz</a></li>
                    <li class="navbar-item"><a class="nav-link text-white" href="/">Boop</a></li>
                    <li class="navbar-item"><a class="nav-link text-white" href="/">About</a></li>
                </ul>
            </div>
        </nav>
    </header>
</div>
