<div>
    <p>What song is being played?</p>
    <div class="row">
        <input class="input_value" autocomplete="off" type="text" #box onfocus="this.value=''" />
        <div>
            <button class="btn" (click)="checkAnswer(box.value)">Check your answer</button>
        </div>
      </div>
    <h1 *ngIf="playerAnswer==='Correct'; else elseBlock" class="text-success">{{playerAnswer}}</h1>
    <ng-template #elseBlock>
        <h1 class="text-danger">{{playerAnswer}}</h1>
    </ng-template>
    <p style="text-align: center;">You have guessed correct {{playerStreak}} times in a row!</p>
</div>
