p {
    font-size: 20px;
}

input {
    width: 55%;
    border: none;
    margin-left:20px;
}

input:focus{
    outline: none;
}

button {
    margin-left: 5px;
}

span {
    margin-left: 18px;
}

.answer{
    margin-left: 18px;
}