.ball {
    background-color: #1DB954;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 5px;
}

.btn {
    background-color: #1DB954;
    border-radius: 0;
    font-weight: 700;
}

.btn#add {
    height: 40px;
    margin: 0 0 4px 2px;
    border: none;
}

.btn#start {
    display: block;
    margin: 100px auto;
}

.title_text {
    font-weight: 700;
    font-size: 30px;
    margin: 20px 0 10px
}

.dif_select {
    border-radius: 0;
}

.add_player_box {
    width: 300px;
    height: 40px;
}

.genre_box {
    -webkit-appearance: none;
    height: 12px;
    width: 12px;
    background-color: grey;
}

.genre_box:checked {
    background-color: #1DB954;
}

.alert {
    width: 300px;
    border-radius: 0;
    margin: 4px 0;
}
