

.headingText {
    font-weight: 700;
    font-size: 30px;
}

.songText {
    font-weight: 700;
    font-size: 20px;
    margin-left: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 500px;
}

.quiz-btn {
    width:65px;
    height:50px;
    border-radius: 20px;
    margin:1px;
}

.btn {
    background-color: #1DB954;
    color: white;
}

.player {
    margin-top:5px;
}
