<div>
    <h2 class="title">Playpage</h2>
    <div class="container p-3 text-center">
        <button class="btn btn-primary" (click)="newSong()">Load new song</button>
    </div>
    <div class="text-center">
        <img class="p-3" #albumImg [src]="song.img">
    </div>

    <div class="text-center">
        <h3> {{song.title}}</h3>
        <h4> {{song.artist}}</h4>
        <div class="row justify-content-center">
            <button [disabled]="isDisabled" class="rounded-pill btn btn-success col-2 p-2" (click)="correctAnswer($event)">I know this song!</button>
            <button [disabled]="isDisabled" class="rounded-pill btn btn-danger col-2 p-2" (click)="wrongAnswer($event)">I don't know this song :(</button>
        </div>
    </div>