.title {
    text-align: center;
}

.headingText {
    font-weight: 700;
    font-size: 30px;
}

.songText {
    font-weight: 700;
    font-size: 20px;
    margin-left: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 500px;
}

.btn {
    width:60px;
    height:50px;
}

.player {
    margin-top:5px;
}
