<div>
    <div class="row mx-auto">
        <div class="card text-center col-md-2 offset-md-2">
            <div>
                <iframe [src]="song.url" width="80" height="80" allowtransparency="true" allow="encrypted-media"
                    frameborder="0" class="justify-content-center player">
                </iframe>
            </div>

            <div>
                <button class="quiz-btn btn" (click)="correctAnswer()">
                    Yes!
                </button>
                <button class="quiz-btn btn" (click)="wrongAnswer()">
                    No.
                </button>
            </div>
        </div>

        <div class="songInfo card col-md-5" *ngIf="!isShow">
            <div class="headingText">PLAYING</div>
            <div class="songText"> {{song.title}}</div>
            <div class="headingText">WITH</div>
            <div class="songText"> {{song.artist}}</div>
        </div>
        <button class="btn col-md-1" (click)="hideAnswer()">
            {{hideBtnText}}
        </button>
    </div>
    <div>
        <button class="btn"(click)="togglePlayMode()">{{playModeButtonText}}</button>
    </div>
    <div [hidden]="playMultiplayer" class="row mx-auto">
        <div class="col-md-12 text-center">
            <label>
                <h6>Vilken låt spelas?</h6>
                <input id="1" type="text" #box onfocus="this.value=''" />
            </label>
            <button class="btn" (click)="checkAnswer(box.value)">Kolla ditt svar</button>
            <h1 *ngIf="playerAnswer=='rätt svar'; else elseBlock" class="text-success">{{playerAnswer}}</h1>
            <ng-template #elseBlock>
                <h1 class="text-danger">{{playerAnswer}}</h1>
            </ng-template>
            <h6>Du har haft {{playerStreak}} rätt i rad. Bra jobbat!</h6>



        </div>
    </div>

</div>