/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import url("http://fonts.googleapis.com/css?family=Oswald:400,300,700");
body {
    font-family: 'Oswald' !important;
    color:white !important;
    background-color:#111211 !important;

}

.btn {
    background-color: #1DB954 !important;
    border-radius: 0 !important;
    color:white;
}

.title_text {
    font-weight: 700;
    font-size: 30px;
    margin: 20px 0 10px;
}
